/* Poppins font -- Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

/* navigation styling */

nav {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 25px;
  height: 25px;
  transform: scale(-1, -1);
}

.logo p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0.7rem;
  margin-right: 0.3rem;
}

nav ul li a {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  padding-right: 1.5rem;
}
a:hover {
  color: #cac0c0;
  transition: all 0.3s ease;
}

nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}

nav ul li .dot::after {
  display: none;
}

.right-nav a {
  font-size: 1.2rem;
}

.icon {
  background-color: #33d62dd5;
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1.2rem;
  margin: 0 1rem 0 0.6rem;
}

button {
  background-color: #000;
  color: #fff;
  padding: 0.9rem 1.1rem;
  outline: none;
  border: none;
  border-radius: 30px;
}

button b {
  color: #fff;
}

/* hero styling */
.hero {
  margin-top: 5rem;
  margin-left: 5rem;
}
.left_side {
  width: 50%;
}
.top-text {
  padding: 6rem;
  width: 45%;
  line-height: 2;
  font-size: 1.5rem;
}
.top-text h3 {
  border-bottom: 2px solid #ddd;
  font-weight: 800;
}

.mid-text {
  margin-top: -5rem;
  padding-left: 6rem;
  width: 45%;
  font-size: 7rem;
  font-weight: 400;
}

.bottom-text {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 6rem;
}
.bottom-text h3 {
  font-size: 2rem;
}
.bottom-text p {
  max-width: 95%;
  font-size: 1.5rem;
}
.bottom-text a {
  line-height: 7;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: underline;
}
.bottom-text i {
  padding: 1rem;
  rotate: 50deg;
  font-size: 1.5rem;
}
